body {
    margin: 0 auto;
    font-family: 'Raleway';
}
section {
    margin-left: 128px;
    margin-right: 128px;
}
h1 {
    font-size: 32px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 20px;
    line-height: 0%;
}
h4 {
    font-size: 12px;
    line-height: 0%;
}
li {
    font-size: 16px;
}
p {
    font-size: 16px
}
img {
    border-radius: 8px;
}
button {
    background-color: #fff;
    color: #000;
    padding: 16px 32px;
    border: 2px solid #000;
    border-radius: 8px;
    font-family: 'Raleway';
    max-width: max-content;
}
button:hover {
    background-color: #000;
    color: #fff;
    font-weight: bolder;
}
/*NAV BAR*/
#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style: none;
}
#nav a {
    color: #000;
}
#nav a:hover {
    cursor: pointer;
    border-bottom: #000;
}
li:hover {
    font-weight: bold;
    border-bottom: 1px solid #000;
}
a {
    text-decoration: none;
}

/*HERO*/
#hero {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 128px;
    padding-right: 128px;
    margin-bottom: 24px;
}
/*GRID*/
.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}
.card img {
    filter: brightness(90%);
    width: 375px;
    height: 375px;
}
.namePrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 16px;
    margin-top: 8px;
}
/*FORM*/
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
}

.form-popup {
    display: none;
}
.forms {
    display:flex;
    justify-content: space-around;
}
input[type=text], input[type=number], input[type=date], select{
    border: 1px solid #ccc;
    color: #000;
    width: auto;
    padding: 12px 20px;
    margin-bottom: 16px;
    margin-top: 8px;
    border-radius: 8px;
    font-family: "raleway";
}

#contact-method {
    border-color: #d4d4d4;
    color: #000;
    width: auto;
    border-radius: 8px;
    display: flex;
    padding: 12px 0px;
}
#contact-method label {
    margin-right: 16px;
}
input [type=checkbox] {
    margin-bottom: 16px;
    margin-top: 8px;
    border-radius: 8px;    
}
button [type=submit] {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 16px 32px;
    width: auto;
}
textarea {
    height: 64px;
    border: 1px solid #ccc;
    color: #000;
    width: auto;
    padding: 12px 20px;
    margin-bottom: 16px;
    margin-top: 8px;
    border-radius: 8px;

}
/*About*/
#define {
    justify-content: flex-start;
    text-align: left;

}
.definition {
    display: flex;
    align-items:last baseline;
    margin: 0 auto;
    line-height: 0px;
    flex-wrap: wrap;
}
.definition h2 {
    margin-right: 24px;
}
.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 48px;
}
.container img {
    border-radius: 8px;
    filter: brightness(.1);
    width: 100%;
    height: 300px;
    margin-right: 24px;
    
}
/*shop*/
.soon {
    height: 50vh;
} 
/*Footer*/
footer {
    background-color: #000;
    color: #fff;
    padding-left: 128px;
    padding-right: 128px;
    columns: 1fr 1fr 1fr;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .logo {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;
}
#social {
    height: 24px;
    width: 24px;
}
footer .slogan {
    justify-content: center;
    align-items: center;
}
footer ul {
    display: flex;
    flex-direction: column;  
    justify-content: left;
}
hr {
    border: .25px solid #fff;
    margin-top: 4px;
}
footer a {
    color: #fff;
}
footer a:hover {
    cursor: pointer;
    border-bottom: solid #fff;
}

@media screen and (max-width: 1000px){
    section {
        margin-left: 24px;
        margin-right: 24px;
    }
    #hero {
        padding: 24px;
    }
    .grid {
        display: flex;
        flex-direction: column;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    .container img {
        margin-bottom: 0px;
        width: 400px;
        height: 400px;
    }
}